.login2{
	display: flex;
	justify-content: center;
}

.boton{
	border-radius: 50px;
	background-color: #2dc997;
	width: 50%;
	height: 60px;
	background-color: #2dc997;
	border: none;
  	outline: none;
  	cursor: pointer;
  	color: white;
  	font-size: 16px;
  	font-weight: 600;

	
}

.section-header {
margin-top: 100px;
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid #2dc997;
  backdrop-filter: blur(5px);
  border-radius: 10px;

}

.inner-page{


	background-image: url("bg.jpg");
  background-position: center center;
   height: 300%;
}

.form-control {
  border-top: 25px;
 
  border: none;
  outline: none;
  height: 50px;
  width: 50%;
  margin: 20px 0;
  border: 2px solid #2dc997;
  **color: white;**
}

.titulo{
	background-color: white;
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 0 auto;
	color: #333;


	

}


