* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.warning {
background-color: #009688;
box-shadow: 7px 13px 37px #000;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  /* Existing styles... */
  position: relative; /* Needed for positioning the pseudo-element */
}

.controls:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-color: transparent transparent #009688 #009688;
  position: absolute;
  right: 10px; /* Adjust positioning as needed */
  top: 50%;
  transform: translateY(-50%);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}


